<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css"> 
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js"></script>
  </head>
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
